In [15]:
import pandas as pd
import pathlib

import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
%cd ..

C:\Users\DELL\devworkspace\machine_learning\learning\part1

In [3]:
%cd ./unzip_datasets

C:\Users\DELL\devworkspace\machine_learning\learning\part1\unzip_datasets

In [4]:
df = pd.read_csv('student-mat.csv', sep=';')

In [5]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [6]:
df = df[['G1', 'G2', 'G3', 'studytime', 'failures', 'absences']]

In [7]:
df

     G1  G2  G3  studytime  failures  absences
0     5   6   6          2         0         6
1     5   5   6          2         0         4
2     7   8  10          2         3        10
3    15  14  15          3         0         2
4     6  10  10          2         0         4
..   ..  ..  ..        ...       ...       ...
390   9   9   9          2         2        11
391  14  16  16          1         0         3
392  10   8   7          1         3         3
393  11  12  10          1         0         0
394   8   9   9          1         0         5

[395 rows x 6 columns]

In [8]:
predict = 'G3'

In [9]:
x = np.array(df.drop(predict, axis = 1))
y = np.array(df[predict])

In [10]:
x

array([[ 5,  6,  2,  0,  6],
       [ 5,  5,  2,  0,  4],
       [ 7,  8,  2,  3, 10],
       ...,
       [10,  8,  1,  3,  3],
       [11, 12,  1,  0,  0],
       [ 8,  9,  1,  0,  5]], dtype=int64)

In [11]:
df.size

2370

In [12]:
df.shape

(395, 6)

In [13]:
df.head()

   G1  G2  G3  studytime  failures  absences
0   5   6   6          2         0         6
1   5   5   6          2         0         4
2   7   8  10          2         3        10
3  15  14  15          3         0         2
4   6  10  10          2         0         4

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1)

In [17]:
model = LinearRegression().fit(x_train, y_train)

In [24]:
acc = model.score(x_test, y_test)

In [25]:
acc

0.8067174414864072

In [27]:
model.coef_

array([ 0.16474198,  0.96958726, -0.2035589 , -0.3607913 ,  0.03754544])

In [28]:
model.intercept_

-1.478871817370326

In [30]:
predictions = model.predict(x_test)
for i in range(len(x_test)):
    print(i, predictions[i], x_test[i], y_test[i])

0 8.359247483018814 [10  9  3  0  2] 9
1 12.71980521330985 [10 13  1  0  4] 14
2 9.050184970954517 [10 10  4  0  0] 10
3 12.230545886505473 [10 13  2  1  6] 13
4 11.343100148160463 [10 12  3  0  4] 12
5 17.88569813238787 [17 17  2  0 13] 17
6 9.275457595075373 [10 10  4  0  6] 11
7 9.711798695880116 [11 10  2  1 12] 10
8 4.995076690665764 [6 6 2 0 2] 6
9 12.935381364832772 [13 13  2  0  2] 11
10 10.66672288649934 [11 11  2  0  2] 10
11 -0.3644949126980368 [8 0 1 0 0] 0
12 5.482914203187926 [7 7 2 2 4] 9
13 5.047285200878247 [ 6  6  2  1 13] 8
14 13.724394938554324 [12 14  3  0  7] 14
15 9.568667596892482 [11 10  3  0  4] 10
16 15.690859040967773 [16 15  3  0 16] 15
17 8.308413307184377 [8 9 2 0 4] 10
18 10.101813295689457 [12 10  2  1 18] 10
19 10.996206837876306 [13 11  2  0  2] 11
20 5.234909541061199 [7 6 2 0 4] 6
21 15.428040979493442 [16 15  3  0  9] 16
22 4.416775514790489 [6 5 1 0 7] 6
23 15.204039843166203 [15 15  2  0  2] 14
24 12.919549650764575 [13 13  3  0  7] 14
25 6.384920167807515 [8 8 1 3 2] 10
26 5.0244028363837785 [ 6  6  2  2 22] 4
27 7.059616878865063 [ 9  7  2  0 18] 6
28 11.873600024785773 [14 12  4  0  6] 13
29 12.18421938551007 [10 13  4  0  6] 13
30 10.795190912627966 [11 11  1  0  0] 12
31 9.239183645515514 [ 9 10  3  0  4] 10
32 7.4890077931200505 [8 8 2 0 8] 6
33 16.157795392576237 [15 16  3  0  7] 15
34 8.105313331770839 [9 9 1 2 8] 9
35 5.797379002868275 [7 7 4 0 4] 6
36 7.188644294292242 [8 8 2 0 0] 0
37 14.748630841247845 [11 15  1  0  2] 15
38 11.951233875079962 [12 12  2  0  6] 12
39 14.459725203808826 [15 14  2  0  8] 14

In [31]:
len(x_train)

355

In [32]:
len(x_test)

40

In [33]:
len(y_test)

40